#leftbar {
	height: auto;
	width: 100%;
	overflow: hidden;
}

#leftbar img {
	margin: 0 auto;
	top: 3%;
	width: 100%;
	max-width: 100%;
}

#leftbar #title {
	position: absolute;
	font-size: 4.8em;
	font-family: 'Yanone Kaffeesatz', sans-serif;	
	color: rgba(255, 255, 255, 0.8);
	-webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	text-align: center;
	z-index: 2;
	width: auto;
}

#topbar {
	background-color: rgba(255, 204, 153, 0.5);
	height: 5%;
	position: absolute;
	z-index: 2;
} 

#top-text {
	position: relative;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: gray;
}

#dash {
	z-index: 100000;
	text-align: center;
	background-color: white;
}

#m-button {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.8em;
	padding-left: 450px;
}

#bottombar {
	background-color: rgba(255, 204, 153, 0.5);
	position: absolute;
	top: 90%;
	height: 100%;
	overflow: hidden;
} 

#bottombar #byline {
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2vw;
	text-align: center;
}

#border1 {
	position: absolute;
	height: 5%;
	width: 100%;
	background-color: black;
	z-index: 3;
}

#border2 {
	position: absolute;
	height: 5%;
	width: 100%;
	background-color: black;
	top: 95%;
	z-index: 1;
}

#circle {
	display: inline-block;
	margin-top: 5%;
	margin-left: 14%;
	height: 4em;
	width: 4em;
	border-radius: 100%;
	background-color: rgba(215, 235, 255, 0.8);
	z-index: 2;
}

#circle1 {
	position: relative;
}

#circle2 {
	position: relative;
}

#circle3 {
	position: relative;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(215, 235, 255);
}

/*  SCROLLBAR */
body::-webkit-scrollbar {
    width: 0.6em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 204, 153, 0.5);
}